{% extends "::base.html.twig" %}
{% form_theme form 'bootstrap_3_horizontal_layout.html.twig' %}
{% block title %}
    Login
{% endblock %}
{% block container %}
    {% if error %}
        <div class="alert alert-danger">
            {{ error.messageKey|trans(error.messageData, 'security') }}
        </div>
    {% endif %}
    <div class="col-lg-6 col-lg-offset-3">
        {{ form_start(form) }}
        {{ form_widget(form) }}
        {{ form_end(form) }}
    </div>
    <div class="col-lg-6 col-lg-offset-3">
        {{ form_errors(form) }}
    </div>
{% endblock %}